footer.footer
  nav
    ul
      each val, index in nav
        - var currentClass = val.title == pageTitle || val.title == navTitle ? 'highlight' : '';
        li(class=currentClass)
          a(href=val.href, class=val.class)
            span= val.title

  .find
    p
      span Find me on:
    ul
      each val, index in social
        li
          a(href=val.href, class=val.class)= val.title
  p.copy &copy; Silvestar Bistrović, #{year}
.sig
  p Powered by #[a.sig__link(href="https://starter.silvestar.codes") #[img.sig__icon(src="/gfx/svg/starter-project.svg", alt="Starter Project Icon", inline="true")] Starter Project].
