.profile.wrapper.wrapper--beta
  .profile__image
    .profile__avatar
      img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkYPhfDwAChwGA60e6kgAAAABJRU5ErkJggg==", srcset="https://res.cloudinary.com/starbist/image/upload/w_220/"+siteAuthor.img+" 1x,https://res.cloudinary.com/starbist/image/upload/w_440/"+siteAuthor.img+" 2x,https://res.cloudinary.com/starbist/image/upload/w_660/"+siteAuthor.img+" 3x" alt="Headshot of Silvestar Bistrović.", width="220", height="220")
  .profile__content
    .profile__inner
      h2.h3.profile__title= siteAuthor.name
      p.profile__tagline= siteAuthor.tagline
      ul.profile__list.profile__list--alpha.profile__tags
        each tag in siteAuthor.tags
          li.profile__tag= tag
      ul.profile__positions
        each position in siteAuthor.positions
          li.profile__position
            h3.h6= position
      ul.profile__list.profile__list--beta.profile__links
        each link in siteAuthor.links
          li.profile__link
            a.profile__href(href=link.url)= link.text
