- var readsSorted = reads;

if readsSorted.length
  each read, index in readsSorted
    - var readClass = index === 0 ? "intro" : "intro intro--alpha";
    section
      article(class=readClass)
        - var readHref = "#" + read.date;
        - var readNo = "No." + (readsSorted.length - index);
        h2(id=read.date)
          a.target(href=readHref)
            span Issue
            span= readNo
        p.tag= read.date
        ul
          each resource in read.list
            li
              div
                p
                  a.href(href=resource.slink, target="_blank", rel="noopener")= resource.title || resource.slink
                if resource.desc
                  p
                    a.href(href=resource.slink, target="_blank", rel="noopener")
                      small= resource.link
                  p
                    small= resource.desc
