each resource in resources
  section
    article.intro
      - var resourceHref = resource.name.toLowerCase().replace(/,/ig, '').replace(/\(/ig, '').replace(/\)/ig, '').replace(/ /ig, '-')
      - var resourceAnchor = "#" + resourceHref;
      h2(id=resourceHref)
        a.target(href=resourceAnchor)
          span= resource.name
    .table
      table
        tbody
          each item in resource.list
            each href, index in item.resources
              tr
                if index === 0
                  td(rowspan=item.resources.length)
                    - var itemHref = resourceHref + '-' + item.name.toLowerCase().replace(/,/ig, '').replace(/\(/ig, '').replace(/\)/ig, '').replace(/ /ig, '-')
                    - var itemAnchor = "#" + itemHref;
                    b(id=itemHref)
                      a.target(href=itemAnchor)
                        span= item.name
                td
                  a(href=href, target="_blank", rel="noopener")= href
