meta(property="og:type" content="website")

if (title)
  meta(property="og:title" content=title)

if (description)
  meta(property="og:description" content=description)

if (siteURL)
  meta(property="og:url" content=siteURL)

if (siteImage)
  meta(property="og:image" content=siteImage)

if (twitterHandle)
  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:site" content=`@${twitterHandle}`)

if (siteURL)
  meta(property="twitter:url" content=siteURL)

if (title)
  meta(name="twitter:title" content=title)

if (description)
  meta(name="twitter:description" content=description)

if (siteImage)
  meta(property="twitter:image" content=siteImage)

meta(property="og:locale" content="en_US")
