<meta property="og:type" content="website">
{% if site.lang %}
  <meta property="og:locale" content="{{ site.lang }}">
{% endif %}
{% if thisTitle %}
  <meta property="og:title" content="{{ thisTitle }}">
{% endif %}
{% if thisDesc %}
  <meta property="og:description" content="{{ thisDesc }}">
{% endif %}
{% if site.url and page.url %}
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
{% endif %}
{% if thisImage %}
  <meta property="og:image" content="{{ thisImage }}">
{% endif %}
{% if site.twitterHandle %}
  <meta name="twitter:site" content="@{{ site.twitterHandle }}">
{% endif %}
{% if thisImage %}
  <meta name="twitter:image" content="{{ thisImage }}">
  <meta name="twitter:card" content="summary_large_image">
{% endif %}
{% if site.url and page.url %}
  <meta property="twitter:url" content="{{ site.url }}{{ page.url }}">
{% endif %}
{% if thisTitle %}
  <meta name="twitter:title" content="{{ thisTitle }}">
{% endif %}
{% if thisDesc %}
  <meta name="twitter:description" content="{{ thisDesc }}">
{% endif %}
{% if siteImage %}
  <meta property="twitter:image" content=siteImage>
{% endif %}
{% if thisDesc %}
  <meta name="description" content="{{ thisDesc | escape }}">
{% endif %}
<title>{{ thisTitle }}</title>
