{% for resource in resources %}
  <section>
    <article class="intro">
    </article>
  </section>
      {% comment %} {% assign resourceHref = resource.name | downcase | replace: ",", "" | replace: "(", "" | replace: ")", "" | replace: " ", "-" | prepend: "#" %} {% endcomment %}
      <h2 id="{{ resourceHref }}"><a href="{{ resourceAnchor }}" class="target"><span>{{ resource.name }}</span></a></h2>
    <div class="table">
      <table>
        <tbody>
          {% for item in resource.list %}
            {% for href in item.resources %}
              <tr>
                {% if forloop.first %}
                  <td rowspan={{ item.resources.length }}>
                    {% comment %} {% assign itemName = item.name | downcase | replace: "," , "" | replace: "(" , "" | replace: ")" , "" | replace: " " , "-" %} {% endcomment %}
                    {% assign itemHref = resourceHref | append: "-" | append: itemName | prepend: "#" %}
                    <b id="{{ itemHref }}">
                      <a href="{{ itemAnchor }}" class="target">
                        <span>{{ item.name }}</span>
                      </a>
                    </b>
                  </td>
                {% endif %}
                <td>
                  <a href="{{ href }}" target="_blank" rel="noopener">{{ href }}</a>
                </td>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endfor %}
